.instagram {
    color: #D43089;
}

.twitter-x {
    color: #1DA1F2;
}

.global {
    color: #c26bad;
}

.facebook {
    color: #1877f2;
}

.linkedin {
    color: #0073b1;
}

.youtube {
    color: #FF0000;
}