<div class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover"  id="modal-id">
    <div class="absolute bg-black opacity-80 inset-0 z-0"></div>
 <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
   <!--content-->
   <div class="">
     <!--body-->
     <div class="text-center p-5 flex-auto justify-center">
        <i class="ri-checkbox-circle-fill text-verde text-8xl animate-spinAndScale"></i>
        <h2 class="text-black text-xl font-bold py-4">{{message}}</h2>
     </div>
     <!--footer-->
     <div class="p-3  mt-2 text-center space-x-4 md:block">
         <a (click)="cancelAction.emit()" class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border border-blue-500 text-blue-500 rounded-full hover:shadow-lg hover:bg-gray-100 cursor-pointer">
             Regresar
         </a>
         <a (click)="confirmAction.emit()" class="mb-2 md:mb-0 px-5 py-2 text-sm shadow-sm font-medium tracking-wider bg-blue-500 hover:bg-blue-700 text-white rounded-full hover:shadow-lg cursor-pointer">{{confirmText}}</a>
     </div>
   </div>
 </div>
</div>