<div>
    <app-header-admin></app-header-admin>
    <div class="flex overflow-hidden bg-white pt-16">
       <app-sidebar></app-sidebar>
       <div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64">
          <main>
            <router-outlet></router-outlet>
          </main>
          <app-footer-admin></app-footer-admin>
       </div>
    </div>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://demo.themesberg.com/windster/app.bundle.js"></script>
  </div>