<div class="bg-white shadow rounded-lg mx-14 my-8 sm:p-6 h-full">
    <div class="flex items-center justify-between">
        <h3 class="text-xl font-bold leading-none text-gray-900">Últimos autores registrados</h3>
        <a href="admin/authors" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2">
        Administrar todos
        </a>
    </div>
    <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200">
            <li class="py-3 sm:py-4" *ngFor="let author of authors">
                <div class="flex items-center space-x-4">
                <div class="flex-shrink-0">
                    <img class="h-8 w-8 rounded-full" [src]="'../../../assets/img/authors/' + author.photo"alt="Foto del autor/a">
                </div>
                <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate">
                        {{author.name}} {{author.lastName}}
                    </p>
                    <p class="text-sm text-gray-500 truncate">
                    {{author.nationality?.name}}
                    </p>
                </div>
                </div>
        </ul>
    </div>
    </div>

    <div class="bg-white shadow rounded-lg mx-14 sm:p-6 h-full">
    <div class="flex items-center justify-between">
        <h3 class="text-xl font-bold leading-none text-gray-900">Últimos libros registrados</h3>
        <a href="admin/books" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2">
        Administrar todos
        </a>
    </div>
    <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200">
            <li class="py-3 sm:py-4" *ngFor="let book of books">
                <div class="flex items-center space-x-4">
                <div class="flex-shrink-0">
                    <img class="h-8 w-8 rounded-full" [src]="'../../../assets/img/books/' + book.photo"alt="Portada del libro">
                </div>
                <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate">
                        {{book.title}}
                    </p>
                    <p class="text-sm text-gray-500 truncate">
                    {{book.author?.name}} {{book.author?.lastName}}
                    </p>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-gray-900">
                    $ {{book.price}}
                </div>
                </div>
        </ul>
    </div>
</div>
