<div class="bg-crema text-cafe-oscuro py-20">
  
  <div class="container mx-auto text-center m-5">
    <h1 class="text-4xl font-bold text-cafe-oscuro font-Jost">Libros</h1>
  </div>
  
    <!--Buscador-->
  <div class="container mx-auto text-center flex w-96 rounded bg-white mt-0 mb-5 border border-cafe-claro">
    <input type="search" placeholder="Buscar" class="w-full border-none bg-transparent px-2 py-1 text-cafe-oscuro outline-none focus:outline-none"
      [(ngModel)]="title" (keyup.enter)="search(1, 10, title)">
    <button class="m-2 rounded px-4 py-1 text-cafe-oscuro hover:text-cafe-claro" (click)="search(1, 10, title)">
      <i class="ri-search-line"></i>
    </button>
  </div>

  <div class="container grid gap-4 lg:grid-cols-6 md:grid-cols-4 sm:grid-cols-1">
    <!-- Libros -->
    <div class="lg:col-span-5 md:col-span-4 sm:col-span-1">
      <div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <div *ngFor="let book of books" class="relative w-full aspect-[2/3] overflow-hidden rounded-md shadow-lg cursor-pointer">
        <a [href]="'book/' + book.id" class="block w-full h-full">
          <img [src]="'../../../assets/img/books/' + book.photo" alt="Portada del libro" class="w-full h-full object-cover hover:opacity-80 transition duration-500">
        </a>
        </div>
      </div>
  
      <!-- Paginación -->
      <app-pagination 
        [currentPage]="currentPage" 
        [totalPages]="totalPages" 
        [totalResults]="totalAuthors">
      </app-pagination>
    </div>

    <!-- Filtrar por Categorías -->
    <div class="rounded p-4">
      <h4 class="font-bold font-Jost text-center mb-4">Filtrar por Categorías</h4>
      <div class="flex items-center" *ngFor="let genre of genres">
        <input [id]="'filter-mobile-category-' + genre.id" [name]="genre.description" [value]="genre.description" type="checkbox" class="size-4 rounded border-gray-300 accent-cafe-intermedio">
        <label [for]="'filter-mobile-category-' + genre.id" class="ml-3">{{genre.description}}</label>
      </div>
    </div>
  </div>
</div>
