<div class="bg-beige text-cafe-oscuro pt-20">
  
  <div class="container mx-auto text-center m-5">
    <h1 class="text-4xl font-bold text-cafe-oscuro font-Jost">Libros</h1>
    <div class="flex flex-row gap-2 justify-center items-center">
      <i class="ri-error-warning-fill text-xl text-oliva"></i>
      <p>Los nombres y obras mostrados son propiedad de sus respectivos autores y editoriales.</p>
    </div>
    <p>Este proyecto es una simulación sin fines de lucro.</p>
  </div>
  
    <!--Buscador-->
  <div class="container mx-auto text-center flex w-96 rounded bg-white mt-0 mb-5 border border-cafe-claro">
    <input type="search" placeholder="Buscar" class="w-full border-none bg-transparent px-2 py-1 text-cafe-oscuro outline-none focus:outline-none"
      [(ngModel)]="title" (keyup.enter)="search(1, 10, title)">
    <button class="m-2 rounded px-4 py-1 text-cafe-oscuro hover:text-oliva" (click)="search(1, 10, title)">
      <i class="ri-search-line"></i>
    </button>
  </div>

  <div class="container grid gap-4 lg:grid-cols-6 md:grid-cols-4 sm:grid-cols-1">
    <!-- Libros -->
    <div class="lg:col-span-5 md:col-span-4 sm:col-span-1">
      <div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <div class="bg-white p-2 transform transition duration-300 hover:scale-105" *ngFor="let book of books">
          <a [href]="'book/' + book.id">
            <img class="sm:h-62 md:h-72 lg:h-64 xl:h-72 w-full object-cover cursor-pointer" [src]="'../../../assets/img/books/' + book.photo" alt="Portada del libro">
          </a>

          <ul class="mt-1 flex flex-wrap">
            <li class="ml-1 mr-auto relative group">
                <i class="ri-shopping-cart-2-fill text-xl cursor-pointer" (click)="addToShoppingCart(book)"></i>
              <div class="absolute left-1/2 -translate-x-1/2 mt-1 w-max px-2 rounded bg-verde text-white text-sm opacity-0 group-hover:opacity-70 transition-opacity">
                Añadir al carrito
              </div>
            </li>
            <li class="mr-2 relative group">
                <p class="text-lg font-semibold text-gray-900 ml-auto">${{book.price}}</p>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="showToast" class="bg-green-600 py-2 px-4 rounded-md text-white text-center fixed top-20 right-4 flex gap-4">
        <p>{{ toastMessage }}</p>
        <span class="cursor-pointer font-bold" onclick="return this.parentNode.remove()"><sup>X</sup></span>
      </div>
      
      <!-- Paginación -->
      <app-pagination 
        [currentPage]="currentPage" 
        [totalPages]="totalPages" 
        [totalResults]="totalAuthors"
        (pageChange)="onPageChange($event)">
      </app-pagination>
    </div>

    <!-- Filtrar por Categorías -->
    <div class="rounded p-4 hidden lg:block">
      <h4 class="font-bold font-Jost text-center mb-4">Filtrar por Categorías</h4>
      <div class="flex items-center" *ngFor="let genre of genres">
        <input 
          [id]="'filter-mobile-category-' + genre.id"
          [value]="genre.id" 
          type="checkbox" 
          (change)="toggleCategory(genre.id)"
          class="size-4 rounded border-gray-300 accent-cafe-intermedio"
        />
        <label [for]="'filter-mobile-category-' + genre.id" class="ml-3 hover:text-oliva">{{genre.description}}</label>
      </div>
    </div>
  </div>
</div>
