<div class="pt-6 px-4">
   <div class="w-full grid grid-cols-1 xl:grid-cols-1">
      <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
         <div class="mb-4 flex items-center justify-between">
            <div>
               <h3 class="text-xl font-bold text-gray-900 mb-2">Autores</h3>
               <span class="text-base font-normal text-gray-500">Esta es una lista de los Autores cargados</span>
            </div>
            <div class="flex-shrink-0">
               <button class="font-bold rounded-md bg-verde py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-green-700 focus:shadow-none active:bg-green-700 hover:bg-green-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2" type="button">Agregar</button>
            </div>
         </div>
         <div class="flex flex-col mt-8">
            <div class="overflow-x-auto rounded-lg">
               <div class="align-middle inline-block min-w-full">
                  <div class="shadow overflow-hidden sm:rounded-lg">
                     <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                           <tr>
                              <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Nombre
                              </th>
                              <th scope="col" class="p-4 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Nacionalidad
                              </th>
                              <th scope="col" class="p-4 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Fecha de creación
                              </th>
                              <th scope="col" class="p-4 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Acciones
                              </th>
                           </tr>
                        </thead>
                        <tbody class="bg-white">
                           <tr *ngFor="let author of authors" class="odd:bg-white even:bg-gray-50">
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                 <div class="flex items-center space-x-4">
                                    <div class="flex-shrink-0">
                                       <img class="h-8 w-8 rounded-full object-cover" [src]="'../../../assets/img/authors/' + author.photo" 
                                       alt="Foto del autor/a" >
                                    </div>
                                    <div class="flex-1 min-w-0">
                                       <p class="text-sm font-medium text-gray-900 truncate">
                                          {{author.name}} {{author.lastName}}
                                       </p>
                                    </div>
                                 </div>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900 text-center">
                                 <div class="flex justify-center h-full">
                                    <img [src]="author.nationality?.flag" [alt]="'Bandera de ' + author.nationality?.name" class="w-7 h-5 rounded-sm"/>
                                 </div>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-500 text-right">
                                 {{ author.createdAt | date:'MMM d, y' }}
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-500 text-center">
                                 <i class="ri-pencil-fill text-blue-700 text-xl pr-2"></i><i class="ri-delete-bin-fill text-red-600 text-xl"></i>
                              </td>
                           </tr>
                           <!-- <tr class="bg-gray-50">
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900 rounded-lg rounded-left">
                                 <div class="flex items-center space-x-4">
                                    <div class="flex-shrink-0">
                                       <img class="h-8 w-8 rounded-full" src="https://demo.themesberg.com/windster/images/users/neil-sims.png" alt="Neil image">
                                    </div>
                                    <div class="flex-1 min-w-0">
                                       <p class="text-sm font-medium text-gray-900 truncate">
                                          Neil Sims
                                       </p>
                                    </div>
                                 </div>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                 Apr 23 ,2021
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                 -$670
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                 $2300
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                 $2300
                              </td>
                           </tr>
                           <tr>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                 Payment failed from <span class="font-semibold">#087651</span>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                 Apr 18 ,2021
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                 $234
                              </td>
                           </tr>
                           <tr class="bg-gray-50">
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900 rounded-lg rounded-left">
                                 Payment from <span class="font-semibold">Lana Byrd</span>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                 Apr 15 ,2021
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                 $5000
                              </td>
                           </tr>
                           <tr>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                 Payment from <span class="font-semibold">Jese Leos</span>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                 Apr 15 ,2021
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                 $2300
                              </td>
                           </tr>
                           <tr class="bg-gray-50">
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900 rounded-lg rounded-left">
                                 Payment from <span class="font-semibold">THEMESBERG LLC</span>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                 Apr 11 ,2021
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                 $560
                              </td>
                           </tr>
                           <tr>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                 Payment from <span class="font-semibold">Lana Lysle</span>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                 Apr 6 ,2021
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                 $1437
                              </td>
                           </tr> -->
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>