<div class="pt-6 px-4">
   <!-- <div class="w-full grid grid-cols-1 xl:grid-cols-1"> -->
      <!-- component -->
<div class="max-w-full mx-auto">

  <div class="relative flex flex-col w-full h-full text-slate-700 bg-white shadow-md rounded-xl bg-clip-border">
      <div class="relative mx-4 mt-4 overflow-hidden text-slate-700 bg-white rounded-none bg-clip-border">
          <div class="flex items-center justify-between ">
              <div>
                  <h3 class="text-lg font-semibold text-slate-800">Lista de Autores</h3>
                  <p class="text-slate-500">Revisa a cada autor antes de editar o borrar</p>
              </div>
          <div class="flex flex-col gap-2 shrink-0 sm:flex-row">
              <button
              class="rounded border border-slate-300 py-2.5 px-3 text-center text-xs font-semibold text-slate-600 transition-all hover:opacity-75 focus:ring focus:ring-slate-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button">
              Ver todos
              </button>
              <button
              class="flex select-none items-center gap-2 rounded bg-verde py-2.5 px-4 text-xs font-semibold text-white shadow-md shadow-slate-900/10 transition-all hover:shadow-lg hover:shadow-slate-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                  stroke-width="2" class="w-4 h-4">
                  <path
                  d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z">
                  </path>
              </svg>
              Agregar Autor
              </button>
          </div>
          </div>
      
      </div>
      <div class="p-0 overflow-scroll">
          <table class="w-full mt-4 text-left table-auto min-w-max">
          <thead>
              <tr>
              <th
                  class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                  <p
                  class="flex items-center justify-start gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                  Nombre
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                  </svg>
                  </p>
              </th>
              <th class="p-4 text-center transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
               <p class="flex items-center justify-center gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                   Estado
               </p>
           </th>
              <th
                  class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                  <p
                  class="flex items-center justify-center gap-2 font-sans text-sm  font-normal leading-none text-slate-500">
                  Agregado el
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                  </svg>
                  </p>
              </th>
              <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                  <p class="flex items-center justify-center gap-2 font-sans text-sm  font-normal leading-none text-slate-500">
                  Acciones</p>
              </th>
              </tr>
          </thead>
          <tbody>
              <tr tr *ngFor="let author of authors" class="odd:bg-white even:bg-gray-50">
              <td class="p-2 border-b border-slate-200">
                  <div class="flex items-center gap-3">
                  <img [src]="'../../../assets/img/authors/' + author.photo"alt="Foto del autor/a"
                     class="relative inline-block h-9 w-9 !rounded-full object-cover object-center" />
                  <div class="flex flex-col">
                      <p class="text-sm font-semibold text-slate-700">
                      {{author.name}} {{author.lastName}}
                      </p>
                      <p
                      class="text-sm text-slate-500">
                      {{author.nationality?.name}}
                      </p>
                  </div>
                  </div>
              </td>
              <td class="p-2 border-b border-slate-200">
                  <div class="flex justify-center items-center">
                     <div *ngIf="author.isActive"
                        class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-green-900 uppercase rounded-md select-none whitespace-nowrap bg-green-500/20">
                        <span class="">activo</span>
                     </div>
                     <div *ngIf="!author.isActive"
                        class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-white uppercase rounded-md select-none whitespace-nowrap bg-red-600/90">
                        <span class="">inactivo</span>
                     </div>
                  </div>
              </td>
              <td class="p-2 border-b border-slate-200">
                  <p class="text-sm text-slate-500 text-center">{{ author.createdAt | date:'MMM d, y' }}</p>
              </td>
              <td class="p-2 border-b border-slate-200 text-center">
                  <div class="flex justify-center items-center font-medium text-xl">
                     <i class="ri-pencil-fill text-blue-900/70 pr-2 hover:text-blue-600 cursor-pointer"></i>
                     <i class="ri-delete-bin-fill text-red-600/70 hover:text-red-600 cursor-pointer"></i>
                  </div>
              </td>
            </tr>
          </tbody>
          </table>
      </div>
      <div class="flex items-center justify-between p-3">
          <p class="block text-sm text-slate-500">
          Page 1 of 10
          </p>
          <div class="flex gap-1">
          <button
              class="rounded border border-slate-300 py-2.5 px-3 text-center text-xs font-semibold text-slate-600 transition-all hover:opacity-75 focus:ring focus:ring-slate-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button">
              Previous
          </button>
          <button
              class="rounded border border-slate-300 py-2.5 px-3 text-center text-xs font-semibold text-slate-600 transition-all hover:opacity-75 focus:ring focus:ring-slate-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button">
              Next
          </button>
          </div>
      </div>
      </div>
</div>
      <!-- <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
         <div class="mb-4 flex items-center justify-between">
            <div>
               <h3 class="text-xl font-bold text-gray-900 mb-2">Autores</h3>
               <span class="text-base font-normal text-gray-500">Esta es una lista de los Autores cargados</span>
            </div>
            <div class="flex-shrink-0">
               <button class="font-bold rounded-md bg-verde py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-green-700 focus:shadow-none active:bg-green-700 hover:bg-green-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2" type="button">Agregar</button>
            </div>
         </div>
         <div class="flex flex-col mt-8">
            <div class="overflow-x-auto rounded-lg">
               <div class="align-middle inline-block min-w-full">
                  <div class="shadow overflow-hidden sm:rounded-lg">
                     <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                           <tr>
                              <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Nombre
                              </th>
                              <th scope="col" class="p-4 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Nacionalidad
                              </th>
                              <th scope="col" class="p-4 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Fecha de creación
                              </th>
                              <th scope="col" class="p-4 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Acciones
                              </th>
                           </tr>
                        </thead>
                        <tbody class="bg-white">
                           <tr *ngFor="let author of authors" class="odd:bg-white even:bg-gray-50">
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                 <div class="flex items-center space-x-4">
                                    <div class="flex-shrink-0">
                                       <img class="h-8 w-8 rounded-full object-cover" [src]="'../../../assets/img/authors/' + author.photo" 
                                       alt="Foto del autor/a" >
                                    </div>
                                    <div class="flex-1 min-w-0">
                                       <p class="text-sm font-medium text-gray-900 truncate">
                                          {{author.name}} {{author.lastName}}
                                       </p>
                                    </div>
                                 </div>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900 text-center">
                                 <div class="flex justify-center h-full">
                                    <img [src]="author.nationality?.flag" [alt]="'Bandera de ' + author.nationality?.name" class="w-7 h-5 rounded-sm"/>
                                 </div>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-500 text-right">
                                 {{ author.createdAt | date:'MMM d, y' }}
                              </td>
                              <td class="p-4 whitespace-nowrap font-semibold text-gray-500 text-center sm:text-sm lg:text-xl cursor-pointer">
                                 <i class="ri-pencil-fill text-blue-600 pr-2 hover:text-blue-900"></i>
                                 <i class="ri-delete-bin-fill text-red-600 hover:text-red-900"></i>
                               </td>
                           </tr>
                        </tbody>
                     </table>
                     <app-pagination-admin
                        [currentPage]="currentPage" 
                        [totalPages]="totalPages" 
                        [totalResults]="totalAuthors" 
                        (pageChange)="onPageChange($event)">
                     </app-pagination-admin>
                  </div>
               </div>
            </div>
         </div>
      </div> -->
   <!-- </div> -->
</div>