<div class="min-h-screen flex items-center justify-center pt-20">
    <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-12">
            <!-- Sección de Texto -->
            <div class="max-w-xl mx-auto text-center md:text-left">
                <h2 class="text-3xl sm:text-4xl font-extrabold text-gray-800 tracking-wide">
                    Sobre nosotros
                </h2>
                <div class="mt-6 text-gray-700 text-lg leading-relaxed">
                    <p>En <span class="font-bold font-Lobster text-cafe-oscuro">EditoriApp</span> somos fanáticos de los libros y creemos que las historias tienen el poder de conectar, inspirar y hacernos viajar sin movernos de casa.</p>
                    <p class="mt-4">Nuestra idea es ofrecer un espacio donde los amantes de la lectura puedan descubrir nuevos títulos y explorar distintos géneros.</p>
                    
                    <div class="mt-6 p-4 bg-yellow-100 border-l-4 border-yellow-500 rounded-lg">
                        <p class="font-bold text-xl">💡 Importante:</p>
                        <p>Esta es una demo sin fines de lucro, pensada para mostrar cómo se puede desarrollar una plataforma de catálogo de libros. No vendemos ni realizamos transacciones, es solo una muestra de lo que se puede hacer.</p>
                    </div>
                    
                    <p class="mt-6 font-semibold">¡Gracias por pasar y compartir este amor por la lectura con nosotros! 📖☕</p> 
                </div>
            </div>
            
            <!-- Sección de Imagen -->
            <div class="mt-12 md:mt-0">
                <img src="../../../assets/img/hero/oficina.jpg" alt="Sobre nosotros" class="w-full object-cover rounded-lg shadow-lg">
            </div>
        </div>
    </div>
</div>
