<footer class="relative bg-cafe-intermedio pt-6 mt-14">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 lg:grid-cols-6 grid-rows-5 gap-4">
            <div class="lg:col-span-3 row-span-5 w-full">
                <div class="flex flex-col justify-center items-center lg:justify-start lg:items-start">
                    <a href="/">
                        <div class="font-Lobster text-2xl text-cafe-oscuro">EditoriApp</div>
                    </a>
                    <h5 class="text-lg mt-0 mb-2 text-cafe-oscuro">
                        Tu Editorial en casa.
                    </h5>
                </div>
                
            </div>
            <div class="row-span-5 lg:col-start-6">
                <div class="flex flex-col justify-center items-center lg:justify-start">
                    <span class="text-cafe-oscuro text-sm font-semibold">CONTACTO</span>
                    <div class="flex flex-row items-center justify-start gap-1 mt-3 text-xl">
                        <div class="flex flex-row justify-center">
                            <button class="bg-white text-blue-500 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
                                <i class="ri-linkedin-box-fill"></i>
                            </button>
                        </div>
                        <div class="flex flex-row justify-center">
                            <button class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
                                <i class="ri-dribbble-line"></i>
                            </button>
                        </div>
                        <div class="flex flex-row justify-center">
                            <button class="bg-white text-stone-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
                                <i class="ri-github-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="flex flex-row justify-center bg-cafe-oscuro w-full mt-6">
        <p class="text-center text-sm text-white my-4">&copy; 2024-2025 - Dev. Matías Candella. All rights reserved.</p> 
    </div>
</footer>