<form [formGroup]="form" (ngSubmit)="OnSubmit()" #authorForm="ngForm" class="bg-beige rounded shadow-lg p-4 px-4 md:p-8 mb-6">
    <div class="grid gap-4 gap-y-2 text-sm">
      <div class="lg:col-span-2">
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
          <div class="md:col-span-5">
            <label class="text-slate-700" for="name">Nombre</label>
            <input formControlName="name" type="text" name="name" id="name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 text-cafe-oscuro" value=""/>
            <p *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')" class="mt-1 text-sm text-red-500">
              El nombre es obligatorio.
            </p>
          </div>

          <div class="md:col-span-5">
            <label class="text-slate-700" for="lastName">Apellido</label>
            <input formControlName="lastName" type="text" name="lastName" id="lastName" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 text-cafe-oscuro" value=""/>
            <p *ngIf="form.get('lastName')?.touched && form.get('lastName')?.hasError('required')" class="mt-1 text-sm text-red-500">
              El apellido es obligatorio.
            </p>
          </div>

          <div class="md:col-span-5">
            <label class="text-slate-700" for="note">Nota</label>
            <textarea formControlName="note" name="note" id="note" class="h-20 border mt-1 rounded px-4 w-full bg-gray-50 text-cafe-oscuro"></textarea>
          </div>

          <div class="md:col-span-5">
            <label class="text-slate-700" for="nationalityId">Nacionalidad</label>
              <select formControlName="nationalityId" id="nationalityId" name="nationalityId" class="h-10 w-full bg-gray-50 flex border border-gray-200 text-cafe-oscuro rounded items-center px-4 mt-1">
                <option class="text-cafe-oscuro" value="">Seleccionar país</option>
                <option *ngFor="let nationality of nationalities" [value]="nationality.id" class="text-cafe-oscuro">
                  {{ nationality.name }}
                </option>
              </select>
              <div *ngIf="form.get('nationalityId')?.touched && form.get('nationalityId')?.invalid" class="mt-1 text-sm text-red-500">
                <span *ngIf="form.get('nationalityId')?.hasError('required')">Debe seleccionar un país.</span>
                <span *ngIf="form.get('nationalityId')?.hasError('min')">El país seleccionado no es válido.</span>
              </div>
          </div>

          <div class="md:col-span-5">
            <label class="text-slate-700" for="photo">Foto</label>
            <input type="file" id="photo" name="photo" formControlName="photo"
            class="peer block w-full appearance-none rounded   bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
            (change)="onPhotoSelected($event)">
            <div *ngIf="photoName && !form.get('photo')?.value">
              <p class="text-slate-700 font-bold">Foto seleccionada: {{ photoName }}</p>
            </div>
          </div>

          <!-- Redes sociales opcionales -->
          <div class="md:col-span-5" *ngIf="author === null || author === undefined">
            <button type="button" class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded" (click)="toggleSocialLinks()">Agregar redes sociales</button>
          </div>

          <div class="md:col-span-5" *ngIf="showSocialLinks && (author === null || author === undefined)">
              <div *ngFor="let social of socialMediaTypes; let i = index">
                <div class="flex items-center gap-2 mt-1" (click)="toggleInputSocial(i)">
                  <i [ngClass]="'ri-' + social.icon + '-fill text-slate-700'"></i>
                  <label class="text-slate-700" for="{{social.name}}">{{social.name}}</label>
                </div>
                <div *ngIf="visibleInputs[i]" class="flex items-center gap-2">
                  <input 
                    type="text" 
                    name="{{ social.name }}" 
                    id="{{ social.name }}" 
                    class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 text-cafe-oscuro" 
                    placeholder="Ingrese URL para {{ social.name }}"
                    (input)="onSocialLinkChange(getInputValue($event), social.id)"
                  />
                  <i (click)="removeSocialLink(i)"
                    class="ri-close-fill text-xl text-red-500 cursor-pointer"
                  ></i>
                </div>
              </div>
          </div>

          <div class="md:col-span-5 text-right mt-5">
            <div class="inline-flex items-end">
              <button class="bg-verde hover:bg-oliva text-white font-bold py-2 px-4 rounded" type="submit" [disabled]="form.invalid">{{ author ? 'Modificar autor' : 'Agregar autor' }}</button>
            </div>
            <div *ngIf="generalErrors.length > 0" class="mt-4 text-red-500">
              <ul>
                <li *ngFor="let error of generalErrors">{{ error }}</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
</form>

<div class="md:col-span-5 text-right my-5">
  <div class="inline-flex items-end">
    <a href="admin/authors">
      <i class="ri-arrow-left-circle-fill text-blue-500 hover:text-blue-800 font-medium text-5xl"></i>
    </a>
  </div>
</div>