<nav class="bg-cafe-oscuro border-b border-gray-200 fixed z-30 w-full">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
     <div class="flex items-center justify-between">
         <div class="flex items-center justify-start">

           <a href="admin" class="text-xl font-bold flex items-center lg:ml-2.5">
            <div class="title">EditoriApp</div>
           </a>
        </div>
        <div class="flex items-center">
           <i (click)="logout()" class="ri-logout-box-r-line text-2xl text-white hover:text-cafe-intermedio p-2 mr-10 cursor-pointer"></i>
        </div>
     </div>
  </div>
</nav>