
<div class="bg-beige text-cafe-oscuro py-20">
  
  <div class="container mx-auto text-center m-5">
    <h1 class="text-4xl font-bold text-cafe-oscuro font-Jost">Autores</h1>
  </div>

  <!--Buscador-->
  <div class="container mx-auto text-center flex w-96 rounded bg-white mt-0 mb-5 border border-cafe-claro">
    <input type="search" placeholder="Buscar" class="w-full border-none bg-transparent px-2 py-1 text-cafe-oscuro outline-none focus:outline-none"
      [(ngModel)]="name" (keyup.enter)="search(1, 10, name)">
    <button class="m-2 rounded px-4 py-1 text-cafe-oscuro hover:text-cafe-claro" (click)="search(1, 10, name)">
      <i class="ri-search-line"></i>
    </button>
  </div>

  <div class="container grid gap-4 lg:grid-cols-6 md:grid-cols-4 sm:grid-cols-1">
    <!-- Autores -->
    <div class="lg:col-span-5 md:col-span-4 sm:col-span-1">
      <div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <div 
          *ngFor="let author of authors" 
          class="relative group overflow-hidden border rounded-md shadow-lg cursor-pointer transform transition-transform duration-300 hover:shadow-2xl hover:-translate-y-1 h-80">
          <a [href]="'author/' + author.id" class="block w-full h-full">
            <!-- Imagen de fondo -->
            <img 
              [src]="'../../../assets/img/authors/' + author.photo" 
              alt="Foto del autor/a" 
              class="absolute w-full h-full object-cover opacity-70 group-hover:opacity-40 transition duration-500">

            <!-- Nombre del autor con fondo -->
            <div class="absolute bottom-0 left-0 w-full text-center p-3 bg-gradient-to-t from-black to-transparent">
              <p class="text-xl font-bold text-white">
                {{ author.name }} {{ author.lastName }}
              </p>
            </div>
          </a>
        </div>
      </div>
  
      <!-- Paginación -->
      <app-pagination 
        [currentPage]="currentPage" 
        [totalPages]="totalPages" 
        [totalResults]="totalAuthors" 
        (pageChange)="onPageChange($event)">
      </app-pagination>
    </div>

    <!-- Filtro de letras -->
    <div class="lg:col-span-1 md:col-span-4 hidden md:block rounded p-4">
      <h4 class="font-bold font-Jost text-center mb-4">Filtrar por letra</h4>
      <div class="grid grid-cols-5 md:grid-cols-3 xl:grid-cols-5 gap-2 text-center">
        <p 
          *ngFor="let letter of alphabet"
          class="text-cafe-oscuro hover:text-cafe-intermedio cursor-pointer" 
          [class.font-bold]="letter === selectedLetter"
          (click)="filterByLetter(letter)">
          {{ letter }}
        </p>
        <p
          class="text-cafe-oscuro hover:text-cafe-intermedio cursor-pointer" 
          [class.font-bold]="!selectedLetter"
          (click)="filterByLetter('')">
          Todos
        </p>
      </div>
    </div>
  </div>
  

    
  </div>
  